*{
    border: 0;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    color: rgb(0, 0, 0);
    font-family: Arial;
    background-image: url(../imagens/guitarra_fundo_body.jpg);
    background-size: 100% 26%;
    background-repeat: no-repeat;
}


#container{
    position: relative;
    width: 90%;
    height: auto;
    background-color: rgb(186, 81, 118);
    margin: auto;
    display:flex;
    flex-direction:column;
    gap:10px;
    
    
   
}

header{
    position: relative;
    width: 100%;
    min-height: 200px;
    background-image: url(../imagens/guitarras_header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

#botoes{
    position: absolute;
    display: flex;
    right: 20px;
    bottom: 20px;
   
}

.botao{
    background-color: white;
    color: rgb(71, 3, 3);
    font-size: 20px;
    text-decoration: none;
    transition: all 0.5s;
    padding: 5px;

}

.botao:hover{
background-color: rgb(88, 88, 88);
margin-top: 25px;

}

#vermelho{
    position: relative;
    width: 100%;
    height: 300px;
    background-color: brown;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 15px;
   

}
#descricao{
    position: relative;
    width: 40%;
    height: 270px;
    background: rgb(154, 71, 71);

}

h1{
    color: white;
    font-size: 25px;
    padding: 30px;
}

p{
    color: white;
    font-size: 15px;
    padding: 30px;
    padding-top: 0;  

}

#guitarras{
    position: relative;
    width: 40%;
    height: 270px;
    background-image: url(../imagens/loja.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

#branco{
    position: relative;
    width: 100%;
    height: 300px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
}
h2{
    font-size: 10px;

}

h3{
    color: red;
}

#tarra1{
    position: relative;
    width: 100%;
    height: auto;
    
}

#tarra1 img{
    width: 100%;
    height: auto;
}

#tarra2{
    position: relative;
    width: 100%;
    height: auto;
   
}

#tarra2 img{
    width: 100%;
    height: auto;
}

#tarra3{
    position: relative;
    width: 100%;
    height: auto;
  
}

#tarra3 img{
    width: 100%;
    height: auto;
}

#tarra4{
    position: relative;
    width: 100%;
    height: auto;
   
}

#tarra4 img{
    width: 100%;
    height: auto;
}

#terracota{
    position: relative;
    width: 100%;
    height: 400px;
    background-color: rgb(176, 76, 14);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;

}

#localizacao{
    width: 45%;
}

#localizacao iframe{
    width: 100%;
    height: 300px;
    border-radius: 10px;
}

#titulo{
    font-size: 20px;
}

#corpo{
    font-size: 15px;
}

#nossaloja{
    position: relative;
    width: 40%;
    height: 300px;
    background: rgb(154, 71, 71);

}



#cadastro{
    position: relative;
    width: 100%;
    height: 380px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    
    

}

#casamento2{
    float: left;
    width: 30%;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    
}

h4{
    color: black;
}

.cx{
    width: 100%;
    height: 30px;
    border: solid black 2px;
    border-radius: 5px;

}

#pedido{
    width: 75%;
    height: 120px;
    border: solid black 2px;
    border-radius: 5px;

}

#enviar{
    width: 100%;
    height: 30px;
    border: solid black 2px;
    border-radius: 5px;
    text-align: center;

    
}

#cont{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

h5{
    color: blue;
    font-size: 30px;
    
}


#casamento{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 100px;
    gap: 20px;
    

}

#whats{
    position: relative;
    width: 15%;
    height: 100%;

}

#whats img{
    width: 100%;
    height: 100px;

}

#insta{
    position: relative;
    width: 15%;
    height: 100%;
}

#insta img{
    width: 100%;
    height: 100px;

}

#face{
    position: relative;
    width: 15%;
    height: 100%;
}

#face img{
    width: 100%;
    height: 100px;

}


footer{
    position: relative;
    width: 100%;
    height: 140px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

#redes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

#iconewhats{
    position: relative;
    width: 5%;
    height: 100%;

}

#iconewhats img{
    width: 100%;
    height: 100%;

}

#iconeinsta{
    position: relative;
    width: 5%;
    height: 100%;

}

#iconeinsta img{
    width: 100%;
    height: 100%;
}

#iconeface{
    position: relative;
    width: 5%;
    height: 100%;

}

#iconeface img{
    width: 100%;
    height: 100%;
}

/*-----------------visualização celular-----------*/
@media only screen and (max-width:480px){
      #container{
          width: 100%;

      }

      header{
          height: 150px;

     }

      #botoes{
          display: flex;
          flex-direction: column;
          align-items: center;
          right: 0;
          left: 0;
          bottom: 10px;
          gap: 5px;
     }

      .botao{
          font-size: 16px;
           
     }



       #vermelho{
          flex-direction: column;
          align-items: center;
          height: auto;

     }

       #descricao{
           width: 100%;
           height: auto;

     }

       #guitarras{
           width: 100%;
           height: 200px;

        }

       #branco{
           flex-direction: column;
           align-items: center;
           height: auto;

      }

       #branco div{
           width: 90%;

     }

       #terracota{
           flex-direction: column;
           align-items: center;
           height: auto;

     }

       #localizacao{
           width: 100%;

     }

       #localizacao iframe{
           width: 100%;
           height: 250px;

     }

       #nossaloja{
           width: 100%;
           height: auto;

     }



       #cadastro{
          flex-direction: column;
          align-items: center;
          height: auto;

     }

        #casamento2{
           width: 90%;

     }

       #cont{
         width: 90%;

     }



        #casamento{
           margin-left: 0;
           justify-content: center;
           flex-wrap: wrap;

     }

        #whats,
        #insta,
        #face{
           width: 30%;
     }

}


/*-----------------visualização tablet-----------*/
@media only screen and (min-width:481px){
    @media only screen and (max-width:720px){
         #container{
            width:95%;

         }

         header{
            width: 100%;
            height: auto;
         }

         #botoes{
           display: flex;
           justify-content: center; 
           height: 80px;
        
            
         }

         .botao{
            font-size: 20px;
            
         }

         #vermelho{
            display: flex;
            flex-direction: column;
            align-items: center;
            height: auto;

         }

         #descricao{
            width:100%;

         }

         h1{
            font-size: 20px;
            padding: 20px;
         }

         p{
            font-size: 15px;
        
         }

         #guitarras{
         width: 100%;
        

         }

         #branco{
         flex-wrap: wrap;
         height: auto;

         }

         #branco div{
         width:45%; 

         }

         #terracota {
            flex-wrap: wrap;
            height: auto;
            flex-direction: column;
            align-items: center;
            height: auto;

         }

         #localizacao{
         width: 90%;

         }

         #localizacao iframe{
         width: 100%;

         }

         #nossaloja{
            width: 90%;
         }

         #cadastro{
         flex-direction: column;
         align-items: center;
         height: auto;

         }

         #casamento2{
          width: 90%;

         }

         #cont{
         width: 90%;

         }

         h5{
            font-size: 20px;
         }

         
       
    }
}
