body{

    margin: 0;
    padding: 0;
    
}

#camada1{

    position: absolute;
    top: 0%;
    left: 5%;
    width: 25%;
    height: 120px;
    background-color: blue;
    text-align: center;
    line-height: 120px;
    z-index: 1;
}

#camada2{

    position: absolute;
    top: 0%;
    left: 458px;
    width: 65%;
    height: 120px;
    background-color: red;
    text-align: center;
    line-height: 120px;
    z-index: 1;
}

#camada3{
    position: absolute;
    top: 120px;
    left: 5%;
    width: 1373px;
    height: 60px;
    background-color: green;
    text-align: center;
    line-height: 60px;
    z-index: 1;
}

#camada4{
    position: absolute;
    top: 180px;
    left: 5%;
    width: 1370px;
    height: 350px;
    background-color: yellow;
    border: 6px solid red;
    text-align: center;
    line-height: 350px;
    z-index: 1;
}

#camada5{

    position: absolute;
    top: 540px;
    left: 5%;
    width: 1378px;
    height: 60px;
    background-color: gray;
    text-align: center;
    line-height: 60px;
    z-index: 1;

}